<h1> All attendee </h1> <br>
<table border =1>
<tr>
<td> Attendee name </td>
<td> Event </td>
</tr>
<% for(var i=0;i<inserted.length;i++){%>
       <tr>
           <td>
              <a href = "/attendee/view?id= <%= inserted[i].id%>"> 
              <%= inserted[i].name %> </a>
           </td>
           <td>
           	<%= inserted[i].type %>
           </td>
           
       </tr>       
      <% } %>
</table> <br><br><br>
<a href = "/event/homepage"> Back to Homepage </a>
