<h1> Welcome !!</h1>
 <br><br>

<a href = "/eventinsertview"> Enter new event </a> <br><br>
<a href = "/attendeeinsertview"> Enter new attendee </a> <br><br>
<a href = "/viewevents"> View all events </a> <br><br>
<a href = "/viewattendees"> View all attendee </a> <br><br>
