<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Event Project</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
        </div>
        <div>
          <ul class="nav navbar-nav">
            <li class="active"><a href="homepage">Home</a></li>
            <li><a href="/event/find">Events</a></li>
            <li><a href="/attendee/find">Attendee</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      <div class="jumbotron">
        <h1>Event Project</h1>
        <p>This page will guide you to view events and register for them...</p>
      </div>
    </div>
  </body>
</html>