<h1> Welcome !!</h1>
 <br><br>

<a href = "/event/new"> Enter new event </a> <br><br>
<a href = "/attendee/new"> Enter new attendee </a> <br><br>
<a href = "/event/viewall"> View all events </a> <br><br>
<a href = "/attendee/viewall"> View all attendee </a> <br><br>
