<table border =1>
<tr>
<td> Attendee name </td>
<td> Event </td>
</tr>
       <tr>
           <td>
              <%= inserted.name %> 
           </td>
           <td>
           	<%= inserted.type %>
           </td>
           
       </tr>       
</table> 
<br><br><br>
<a href = "/attendee/updateview?id=<%=inserted.id%>"> Update details </a>
<br><br><br>
<a href = "/attendee/delete?id=<%=inserted.id%>"> Delete Attendee </a>
<br><br><br>
<a href = "/attendee/viewhomepage"> Back to Homepage </a>
