<h1> Welcome </h1>
<h2> Enter new attendee details </h2>
<form action = "/attendee/create" method = POST>
  Attendee name <br>
  <input type="text" name="name">
  <br><br>
  Event<br>
  <% for(var i=0;i<events.length;i++){%>
  <input type = "radio" name = "event1" value = "<%=events[i].name%>"><%=events[i].name%><br>
  <% } %>
  <input type="submit" value="Submit">
</form>