<h1> Welcome </h1>
<h2> Enter new event details </h2>
<form action = "/event/create" method = POST>
  Event name <br>
  <input type="text" name="name">
  <br>
  Location:<br>
  <input type="text" name="location">
  <br>
  Date:<br>
  <input type = "text" name="date">
  <br>
  <input type="submit" value="Submit">
</form>